doctype html
html
  head
    title
      | 「つらい」で押韻！
    = display_meta_tags(default_meta_tags)
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  body
    = yield
    <!-- ↓正解↓ -->
    <!-- つらい -->
    <!-- くらい -->
    <!-- ふかい -->
    <!-- くさい -->
    <!-- うらみ -->
    <!-- ふはい -->
    <!-- うざい -->
    <!-- るざい -->
    <!-- ふさい -->
    <!-- むさい -->
    <!-- ふらち -->
    <!-- むかち -->
    <!-- 足りないものがあれば教えてください🙇‍♂️🙇‍♂️🙇‍♂️🙇‍♂️ -->
